#toDoContainer {
    margin: auto;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 45rem;
    min-width: 30rem;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    color: white;
    font-size: 3vmin;
    background-color: lightseagreen;
    border: 10px solid lightgray;
}

body {
    background: url(../images/backgroundImage.jpg) no-repeat center center fixed;
    background-size: cover;
}

#toDoList {
    margin-top: 0.75rem;
    position: center;
    font-weight: bold;
    list-style-type: none;
}

#noToDoItemInfo {
    margin: 0.75rem;
    text-align: center;
    color: lightseagreen;
}

#mainHeader {
    background-color: lightseagreen;
    color: whitesmoke;
    text-align: center;
}

#addTodoTextBox {
    text-align: center;
    background-color: lightseagreen;
    color: whitesmoke;
    font-size: 3vmin;
    font-weight: bold;
}

#addTodoButton {
    text-align: center;
    font-size: 3vmin;
    font-weight: bold;
    background-color: lightseagreen;
    color: whitesmoke;
}

#addTodoTextBox::placeholder {
    color: whitesmoke;
}

#toDoList {
    text-align: left;
}

    #toDoList span[id*="toDoItemSpan"]:focus {
        background: grey;
        color: white;
    }

    #toDoList span[id*="toDoItemSpan"]::selection {
        background: darkgrey;
        color: white;
    }

.alert {
    font-size: 3vmin;
    color: lightseagreen;
    word-wrap: break-word;
}

.alertButton {
    font-size: 3vmin;
    color: lightseagreen;
    background-color: whitesmoke;
}
