#toDoContainer {
    margin: auto;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 45rem;
    min-width: 30rem;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    color: white;
    background-color: #8CCFC9;
    border: 10px solid lightgray;
}

body {
    background: url(../images/backgroundImage.jpg) no-repeat center center fixed;
    background-size: cover;
}

#toDoList {
    margin-top: 0.75rem;
    position: center;
    font-weight: bold;
    list-style-type: none;
}

#mainHeader {
    background-color: #8CCFC9;
    color: whitesmoke;
    text-align: center;
}

#addTodoTextBox {
    text-align: center;
    background-color: #8CCFC9;
    color: whitesmoke;
    font-weight: bold;
}

#addTodoButton {
    text-align: center;
    font-weight: bold;
    background-color: #8CCFC9;
    color: whitesmoke;
}

#addTodoTextBox::placeholder {
    color: whitesmoke;
}

#toDoList {
    text-align: left;
}

    #toDoList span[id*="toDoItemSpan"]:focus {
        background: #68EDE2;
        color: #088278;
        border-bottom: 4px whitesmoke dotted;
        outline: 0px solid transparent;
    }

    #toDoList span[id*="toDoItemSpan"]::selection {
        background: #8CCFC9;
        color: #088278;
        border-bottom: 4px whitesmoke dotted;
        outline: 0 solid transparent;
    }

.alert {
    color: white;
    word-wrap: break-word;
    background-color: #088278;
}

.alertButton {
    color: #8CCFC9;
    background-color: whitesmoke;
}

#noToDoItemInfo {
    margin: 0.75rem;
    text-align: center;
}

@media (max-width: 575px) {
    body {
        font-size: 1rem;
    }
}

@media (min-width: 576px) {
    body {
        font-size: 1.2rem;
    }

    #addTodoTextBox {
        font-size: 1.4rem;
    }

    #addTodoButton {
        font-size: 1.4rem;
    }
}


@media (min-width: 768px) {
    body {
        font-size: 1.5rem;
    }

    #addTodoTextBox {
        font-size: 1.6rem;
    }

    #addTodoButton {
        font-size: 1.6rem;
    }
}
